.container{
 background-color: rgb(0, 255, 102);
border: 2px solid black;
height: 140px;
width: 140px;

}
.button{
    padding: 4px;
   
}
.row{
    padding: 4px;
}
body{
    height: 100%;
    width: 100%;
}